@font-face {
    font-family: Renogare;
    src: url(renogare.otf);
}

.flex-container {
    display: flex;
    flex-direction: row;
    max-width: 1180px;
    margin: 0 auto;
}

/* About */
.about {
    flex: 1;
    padding: 1em;
    max-width: 600px;
    margin: auto auto;
}

.about>p {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 28px;
}

.about>h1 {
    font-size: 60px;
    font-family: sans-serif;
    line-height: 70px;
}



/* Link List*/
.link-list {
    flex: 1;
    padding: 1em;

    align-self: flex-start;
    position: sticky;
    top: 0;

    display: flex;
    height: 100vh;
    margin: 0 0;
    justify-content: center;
}

.styled-list {
    list-style: none;
    list-style-type: none;
    padding: 0;

    margin: auto 0;
    width: 100%;
    max-width: 400px;
}

.styled-list>a {
    text-decoration: none;
    color: black;
    /* or whatever color you want */
}

.styled-list li {
    transition: ease .3s;
}

.styled-list li:hover {
    box-shadow: 4px 4px #FF8600;
}

.list-item {
    border: 2px solid black;
    margin: .5em 0;
    text-align: center;

    display: flex;
    flex-direction: row;
    padding: .5em;

    border-radius: 10px;
}

.link-list-icon {
    flex: 0 1;

    padding: .5em 1em .5em .5em;
    margin-right: .5em;
    font-size: 20px;
    border-right: 2px solid black
}

.link-list-text {
    flex: 1 0;
    display: flex;
    justify-content: center;

    padding: .5em;
    font-size: 20px;
}



/* Media Queries*/
@media only screen and (max-width: 600px) {
    .link-list {
        position: relative;
    }
}

@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column-reverse;
    }
}