@font-face {
  font-family: MassTransit;
  src: url(/assets/fonts/MassTransitMono.ttf);
}

* {
  overflow: hidden;
}

body {
  display:flex;
  min-height:100vh;
  font-family: MassTransit;
  font-size: 3vw;
  background-color: black;
  color: white;
}

body >div { margin:auto; }

.title {
  font-size: 7vw;
  margin-top: 0;
  margin-bottom: 2.5vh;
  justify-content: center;
}

.subtitle {
  font-size: 3.5vw;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 3vh;
  justify-content: center;
}

.menu-bar { 
  flex: 1 1 50%; 
  padding: 0;
  margin-top: 16px;
  margin-bottom: 26px;
  justify-content: center;
}

.hit-counter {
  text-align: center;
  justify-content: center;
}


li {
  text-align: center;
  list-style: none;
  padding: 5px;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

li >a {
  text-decoration: none;
  color: yellow;
}

li >a:visited {
  color: yellow;
}

img {
  width: 30%;
  height: auto;
}