@font-face {
  font-family: MassTransit;
  src: url(/assets/fonts/MassTransitMono.ttf);
}


body {
  font-family: MassTransit;
  font-size: 50px;
  background-color: black;
  color: white;
}

body >div { margin: 2.5dvb 2.5dvb; }

li {
  list-style: none;
  /* padding: 5px; */
}

a, a:visited {
  text-decoration: none;
  color: white;
}

li >a {
  text-decoration: none;
  color: yellow;
}

li >a:visited {
  color: yellow;
}

img {
  width: 20%;
  height: auto;
}